header,footer{
	background-color: rgb(0,174,236);
}

.espaco{
	margin-top: 3%;
}
.informacoesindex{
	margin-top: 5%;
}
.margin{
	margin-bottom: 20%;
}
.corpomeio{
	margin-top: 0.5%;
	background-color: white;
}